@import url('https://fonts.googleapis.com/css?family=Raleway');

.navbar{background:#F97300;}

.nav-link , .navbar-brand{color: #f4f4f4; cursor: pointer;}

.nav-link{margin-right: 1em !important;}

.nav-link:hover{background: #f4f4f4; color: #f97300;}

.navbar-collapse{justify-content: flex-end;}

.navbar-toggler{
    background:#F97300 !important; 
    /* display: block; */
}

.bg-dark{background-color:#343a40!important;}

.bg-primary{background-color:#007bff!important;}

.form-format{width: 90%; margin: auto;}

html,h1,h2,h3,h4,h5,h6,a{font-family: "Raleway";}

.h3{color: gray; text-align: center; margin-top: 90px; margin-bottom: 20px;}
